<div class="flex items-center">
  <button
    class="m-1 p-2 rounded-md drop-shadow-lg flex flex-col flex-1 text-sm"
    [ngClass]="todo.color"
    (click)="onItemClick()"
  >
    <div class="flex items-center">
      <input
        *ngIf="config?.showCheckbox"
        type="checkbox"
        [checked]="todo.completed"
        (change)="onCheckboxChange($event)"
        (click)="$event.stopPropagation()"
        class="mr-2 w-4 h-4"
      />
      <span class="line-clamp-2">{{ todo.title }}</span>
    </div>
    <div class="flex items-center justify-end">
      <div class="text-gray-700" *ngIf="config?.showCreated" [title]="todo.created | date: 'medium' : '' : locale">
        {{ todo.created | timeAgo: locale }}
      </div>
    </div>
  </button>
</div>
